html, body, div#root, div.App {
  width: 100%;
  height: 100%;
}

button, div.button {
  background: none;
  color: white;
  padding: 5px 20px;
  font-size: 12pt;
  cursor: pointer;
  margin: 0 30px;
  border: 1px solid white;
  user-select: none;
}
button {
  border-radius: 15px;
}
button:hover, div.button:hover {
  background: white;
  color: black;
}

.hidden {
  display: none;
}
.flipped {
  transform: rotate(180deg);
}

/* Navigation Bar */
div.navigation {
  position: fixed;
  background: black;
  color: white;
  width: calc(100% - 50px);
  padding: 0 25px;
  height: 50px;
  z-index: 200;
}

div.graph-buttons {
  display: inline-block;
}

div.nav-items {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

div.controls {
  display: inline-block;
}

/* Algorithm Dropdown */
div.algorithm-dropdown {
  padding: 30px;
  z-index: 100;
}
div.button.algorithm-chooser {
  display: inline-block;
  padding-right: 0;
  margin: 0;
}
div.dropdown-caret-holder {
  float: right;
  margin: 0 10px;
  width: 14px;
}
span.dropdown-caret {
  font-size: 14px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
span.dropdown-caret.flipped {
  transform: translateY(-50%) rotate(180deg);
}
div.algorithm-options {
  position: absolute;
  background: #111111;
  border: 1px solid white;
}
div.button.algorithm-option {
  margin: 0;
  width: 110px;
  border: none;
  border-bottom: 1px solid #aaa;
}
div.button.algorithm-option:last-child {
  border: none;
}

/* Corner Icon */
div.icon-holder {
  float: right;
}
svg.icon {
  height: 50px;
  width: 50px;
}
svg.icon path {
  stroke: white;
  stroke-width: 2px;
  fill: none;
}
svg.icon.exploring path {
  stroke: #0374ff;
}
svg.icon.graphing path {
  stroke: #ff00f2;
}

@media only screen and (max-width: 600px) {
  div.controls {
    display: none;
  }
  button {
    margin: 0 15px;
  }
  div.navigation {
    padding: 0 15px;
    width: calc(100% - 30px);
  }
}